body {
  background: rgb(25, 192, 243);
  color: rgb(47, 240, 9);
}
#img {
  background-image: url(../image/11.jpg);
  width: 400px;
  height: 400px;
  transition: translate(50deg);
  height: 400px;
}

#abcd {
  background: #ccc;
}